$bp-xlarge: 1800px;
$bp-large: 1400px;
$bp-desktop: 1100px;
$bp-medium: 800px;
$bp-small: 600px;
$bp-xsmall: 480px;

$font-stack: 'Helvetica Neue', sans-serif;
$basic-transition: all 0.2s ease-out;

$easing1: cubic-bezier(0.215, 0.61, 0.355, 1);
$easing2: cubic-bezier(.19,1,.22,1);
$easing3: cubic-bezier(0.86, 0, 0.07, 1);
$easing4: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$color-gray: #5F5F5F;
$color-navy: #004A7C;
$color-columbia-blue: #10ADE4;
$color-azurish-white: #E3EFF5;
